* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: 3rem;
    font-weight: bolder;
}

main {
    display: flex;
    align-items: center;
    gap: 30px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 200px;
    max-width: 400px;
}

.guess-word {
    display: flex;
    gap: 10px;
    font-size: 50px;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    
}

button {
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 3px;
}

.btns button {
    width: 40px;
    background-color: purple;
}

.new {
    width: 200px;
    background-color: orangered;
    margin: 20px;
}

button:hover {
    opacity: 0.8;
}

.clue {
    font-size: 18px;
}

@media (max-width:650px) {
    main{
        flex-direction: column;
         padding: 10px;
    }
}